*::after,*::before{
    box-sizing: border-box;
}

body{
    margin:0;
    background-color: rgb(31, 31, 31);
}



:root{
   
    --cell-size:100px;
    --mark-size:calc(var(--cell-size)*.9)
}

.board{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
   
}
.content-text ,
.winning-message{
    border:1px solid hsl(206, 6%, 25%);
    width: 50%;
    color: hsl(0, 0%, 62%);
    background-color: hsl(0, 0%, 12%);

}
.content-text .text{
    margin: 0 40px;
}
.content-text .player-1{
    float: left;
    text-align: left;
}
.content-text .player-2{
    float: right;
}
#type
{
    
    border: .1px solid rgb(60, 64, 68);
    outline: none;
    width: 100px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: hsl(0, 0%, 12%);
    color: hsl(174, 81%, 41%); 
}
#type option{
    border-radius: 0px;
    font-size: 12px;
    width: 40%;
    
    
}
.content{

    display: grid;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 50%;
    background-color: hsl(174, 81%, 41%); 
    grid-template-columns: repeat(3,auto);
    
}
.cell{
    width:var(--cell-size);
    height:var(--cell-size);
    border: 4px solid hsl(174, 85%, 34%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top:0 ;
    
}

.cell:nth-child(3n+1){
    border-left:0 ;
}

.cell:nth-child(3n+3){
    border-right:0 ;
}
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
    border-bottom:0 ;
}


.cell.x,.cell.O{ 
    cursor: not-allowed;
}

 
.board.x .cell:not(.x):not(.O):hover:before,
.board.x .cell:not(.x):not(.O):hover:after
{
    background-color: hsl(0, 0%, 78%) !important;
}

.cell.x:before,
.cell.x:after,
.board.x .cell:not(.x):not(.O):hover:before,
.board.x .cell:not(.x):not(.O):hover:after{

    position: absolute;
    content: "";
    width: calc(var(--mark-size)*.15);
    height: var(--mark-size);
    background-color: hsl(0, 0%, 33%);
}

.cell.x::before,
.board.x .cell:not(.x):not(.O):hover:before{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.O):hover:after{
    transform: rotate(-45deg);
}

.board.O .cell:not(.x):not(.O):hover:before
{
    background-color: hsl(0, 0%, 78%) !important;
/* change88888888888888888888888888888888888888888888888888888888888888888888888  */
        
}



.cell.O:before,
.cell.O:after,
.board.O .cell:not(.x):not(.O):hover:before,
.board.O .cell:not(.x):not(.O):hover:after{

    position: absolute;
    content: "";
    border-radius: 50%;
    
    width: calc(var(--mark-size));
    height: var(--mark-size);
    background-color: hsl(46, 54%, 89%);
}
.cell.O::after,
.board.O .cell:not(.x):not(.O):hover:after{
    width: calc(var(--mark-size)*.7);
    height: calc(var(--mark-size)*.7);
    background-color:hsl(174, 81%, 41%);
}


.winning-message{
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#restartbutton{
    background-color:hsl(0, 0%, 12%); 
    border:none;
    color: hsl(0, 0%, 62%);
    cursor: pointer;
    margin-top: 0;

    font-size: 1.5rem;
    padding:.25em .5em;

}

.winning-message-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: hsl(174, 67%, 52%);
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
    height: 30px;
    font-size:30px;
    margin-top: 0;
}


@media (min-width:768px) and (max-width:992px)
{
    .content-text ,.winning-message,.content{
        width: 60%;
    
    }
}
@media (max-width:768px)
{
    .content-text ,.winning-message,.content{
        width: 90%;
    
    }
    .content-text .text{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column; 
    
    }
}